.active {
    text-decoration: none;
    color: aquamarine;
}

.default {
    text-decoration: none;
    color: white;
}

.navdiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(59, 59, 59);
    padding: 12px;
}